# IDE
.vscode
.idea/

# Go test output
*/*.test
*/*.out
*debug.test*

# Build output
build

# Binary output
bin
dist
usr_bins

# Dependencies
vendor

# gomobile compilation output
*.aar
*.jar

glide_cache/
docker/builder/certs
